<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!--div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li  ng-class="{ active: selected == 'cgaas' }"><img src="assets/img/Boeing-Logo_1997.png" alt="Boeing"> </li>
                <li  ng-class="{ active: selected == 'cgaas' }"><a ui-sref="cgaas"><b>Authority Admin</b></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div>