<div class="container" ng-controller="renderAttributesCtrl">
<div class="row">
	<!--<dynamic-form class="col-md-9" template-url="./convertAttributeToUi/{{attid}}" ng-submit="processForm()" ng-model="urlFormData">-->
	<dynamic-form class="col-md-9" template-url="./getFormData/{{formid}}/{{dataid}}" ng-submit="processForm()" ng-model="urlFormData">
	</dynamic-form>
</div>
<div class="row">
       <div class="col-md-9" style="padding-left:0px">
        <pre>Json : {{urlFormData | pretty}}</pre>
      </div>
</div>  
</div>